.badge{
    display: inline-block;
    padding: .24rem .4rem;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    border-radius: .24rem;
    text-align: center;
}

@each $key,$value in $colors {
    .badge-#{$key}{
        background-color: $value;
        color: $white;
    }
}
.badge-light{
    background-color: $white;
    color:$dark;
}