@font-face {
	font-family: 'Roboto';
	src:  url('../assets/fonts/Roboto-Black.ttf') format('ttf');
	font-weight: 900;
	font-style: normal;
}

// BASE
// @import 'base/reset';
@import 'variables';
// COMPONENTS
@import 'components/buttons';
@import 'components/alert';
@import 'components/badge';
@import 'components/form';
// @import "components/tooltip";
// LOAYOUT
@import 'layout/grid';
@import 'layout/flex';
// PAGES
// THEMES

body{
	font-family: "Roboto", sans-serif;
}
